.accordeon {
  max-width: 15rem;
  margin-bottom: 0.5rem;
}
.accordeon button {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.accordeon button:hover {
  background: grey;
}
.accordeon .content {
  padding: 0.5rem;
  background-color: whitesmoke;
}
h1 {
  display: flex;
  justify-content: center;
}
.alignCenter {
  display: flex;
  justify-content: center;
  
  
  
}
